input {
    border: none;
    outline: none;
}
body {
    background: url('../images/background.png');
}

header,main,footer {
    width:90vw;
    margin: 0 auto;
}
header {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
}
#red {
    background:red;
    height:1rem;
    width:100vw;
    flex-basis: 100%;
}
header img {
    height:3rem;
    width:50px;align-self: center;

}
header h1 {
    flex-basis: 100%;
}
#login_group {
    flex-basis: 100%;
    display: flex;
    justify-content: space-between;
}
#login_group a {
    min-width: fit-content;
    text-align: left;
    background-color:red;
    padding: 1%;
    margin: 1%;
    border-radius: 10px;
    text-decoration: none;
    color:white;
}
footer {
    margin:1%;
    text-align: center;
}
.fa-heart {
    color:red;
}
h2 {
    text-align: center;
}
.liste_aliment{
    display: flex;
    flex-direction: row;
    transition: all 1s;
}
.liste_aliment:hover{
    background: #40e661;
    color:white;
}
.liste_aliment img {
    flex-basis: 20%;
}
.liste_aliment .description {
    flex-basis: 80%;
}
.liste_aliment .prix_vente {
    flex-basis: 20%;
    justify-self:  center;
    align-self:center;
    text-align: center;
}

.liste_aliment:last-child {
    background: #40e661;
    color: white;
}

#sign_up_form {
    margin: 0 auto;
}
table {
    border-spacing: 10px;
    border-collapse: separate;
}

td {
    width: fit-content;
    white-space: nowrap;
}
#message_info {
    border-radius: 5px;
    margin: 0 auto;
    border: 1px dotted rgba(0, 0, 0, 0.62);
    width: fit-content;
    padding: 1%;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

section#section_connexion {
    display: flex;
    align-items: center;
}

section#section_connexion, form {
    white-space: nowrap;
    width: fit-content;

}

section#section_connexion form {
    margin: auto;
}

#Connexion {
    cursor: pointer;

}

input[name="email"], input[name="mdp"] {
    padding: 1%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

}

button[name="Connexion"] {
    background: rgba(44, 255, 35, 0.54);
    padding: 2%;
    border-radius: 5px;
    border: none;
    outline: none;
}